<?xml version="1.0"?>
<robot name="fanuc_lrmate200id7l" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fanuc_lrmate200id_support)/urdf/lrmate200id7l_macro.xacro"/>

  <link name="world"/>

  <xacro:fanuc_lrmate200id7l 
  prefix=""
  parent="world">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:fanuc_lrmate200id7l>
</robot>
